.place__image {
  grid-row: 2/5;
  grid-column: 1;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  .place__image {
    grid-row: 3 / auto;
    grid-column: 1;
    margin-bottom: 32px;
  }
}
