.header__lang {
  padding: 0 0 5px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: min-content;
  gap: 18px;
  list-style: none;
  font-size: 24px;
  line-height: 116%;
}
@media screen and (max-width: 640px) {
  .header__lang {
    font-size: 18px;
    line-height: 111%;
  }
}
@media screen and (max-width: 450px) {
  .header__lang {
    padding-bottom: 8px;
  }
}
