.footer__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
}
@media screen and (max-width: 640px) {
  .footer__menu {
    display: grid;
    gap: 32px;
    margin: 0 0 48px;
  }
}
