.cover {
  margin: 0 auto;
  padding: 0;
  max-width: 1184px;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 1fr;
  justify-items: center;
  position: relative;
}
@media screen and (max-width: 1280px) {
  .cover {
    width: 92.5%;
  }
}
@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}
.cover::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  transition: ease 0.7s;
}
.cover:hover::after {
  opacity: 0.7;
}
